/* Selected actor conatiner style */
.selected-actor {
    display: flex;
    height: 50px;
    width: 280px;
    margin-bottom: 5px;
    padding: 2px;
    align-items: center;
    background-color: white;
    border: 1px solid rgb(189, 185, 185);
    border-radius: 8px;
    justify-content: space-between;
}

.selected-actor button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    background-color: #8e9c5bf8;
    color: white;
    border: none;

}

.selected-actor button:hover {
    background-color: #acbd70f8;
}

/* Selected actor info conatiner styles */
.selected-actor-info {
    display: flex;
    align-items: center;
}

.selected-actor-info p {
    margin-left: 10px;
    font-weight: bold;
}

.selected-actor-info img {
    border-radius: 20%;
}