/* Actor container style */
.actor-container{
    position: relative;
    padding: 5px;
    box-shadow:0px 3px 5px 4px #e7f3bdf8; 
}
.actor-container:hover{
    transform: scale(1.01);
}


/* Actor container's image style */
.actor-img{
    border-bottom: 2px solid #bccc81f8;
}
.actor-img img{
    border-radius: 30%;
}


/* Actor container's info style */
.actor-info{
    line-height: 10px;
}
.actor-info p span{
    font-weight: bold;
}


/* Actor container's button style */
.actor-container button{
    background-color: #8e9c5bf8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 35px;
    width: 120px;
    color: white;
    font-weight: bold;
}
.actor-container button:hover{
    background-color: #acbd70f8;
}