/* Manage actors conatiner style */
.manage-actor-container {
    position: absolute;
    top: 160px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    color: rgb(61, 61, 61);
    padding-bottom: 20px;
}

/* All actors container style */
.actors-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 25px;
    grid-column-gap: 25px;
    margin-left: 10px;
}

/* Selected actors container style */
.added-actor-container {
    position: fixed;
    left: 75%;
    right: 0;
    margin-left: 15px;
}

.selected-actor-container {
    height: 400px;
    overflow-y: scroll;
    background-color: whitesmoke;
    padding: 5px;
    margin-right: 5px;
}