.manage-actor-container{
    position: absolute;
    top: 160px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    color: rgb(61, 61, 61);
    padding-bottom: 20px;
}
.actors-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    margin-left: 5px;
}
.added-actor-container{
    position: fixed;
    left: 75%;
    right: 0;
    margin-left: 15px;
}